*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container{
   width: 100%;
   flex: 1;
   display: flex;
   gap: 1rem;
}

.sidebar {
   width: 14vw;
   height: 96.5vh;
   position: fixed;
   display: flex;
   gap: 20px;
   flex-direction: column;
   background-color: #fff;
   padding: 1rem;
   border-radius: 30px;
}

.sidebar .head{
   display: flex;
   gap: 20px;
   padding-bottom: 20px;
   border-bottom: 2px solid #f6f6f6;
}

.userImg{
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color: #cccccc;
   overflow: hidden;
}

/*
.userImg img{
   width: 100%;
   object-fit: cover;
}*/

.userDetails .title,
.menu .title {
   font-size: 10px;
   font-weight: 500;
   color: #757575;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.userDetails .name{
   font-size: 14px;
   font-weight: 500;
}

.navLink{
   display: flex;
   align-items: center;
   gap: 0.5rem;
   font-weight: 500;
   color: #757575;
   padding: 12px 8px;
   border-radius: 8px;
   transition: all 300ms;
}

.nav{
   flex: 1;
}

.menu ul li{
   margin-bottom: 5px;
}

.menu ul li a:hover{
   color: #000;
   background-color: #f6f6f6;
}

.menu .subMenu{
   margin-left: 20px;
   padding-left: 20px;
   padding-top: 5px;
   border-left: 4px solid #f6f6f6;
}

.menu .sub-menu li .navLink{
   padding: 10px 8px;
   font-size: 12px;
}

.mainContent{
   background-color: rgb(240, 240, 240);
   border-radius: 25px;
   padding: 2rem;
   margin-left: 15vw;
   flex-grow: 1;
}

/*bg-white rounded-3xl p-8 grow ml-64 */
